# Vim
*~
*.sw*

# VS Code
.vscode

# Python
*.py[cod]
__pycache__/

# Pyhton Virtual Envs
env/
venv3/

# SCons
# Ignore database files
.sconsign.dblite

# Data
*.log
*.kml
*.kmz
*.csv
*.json

# Modules
modules/

# AUVSI Lib
station/auvsi_suas

# ctags
tags
