# Vim
*~
*.sw*

# VS Code
.vscode

# Python
*.py[cod]
__pycache__/

# Python Virtual Envs
env/
venv3/
venv/

# Data
*.log
*.kml
*.kmz
*.csv
*.json
!data/ground_control_points.json

# Artifact directories
build/
dist/
