certifi==2023.7.22
charset-normalizer==3.2.0
flake8==6.1.0
future==0.18.3
idna==3.4
importlib-metadata==6.8.0
lxml==4.9.3
MAVProxy==1.8.66
mccabe==0.7.0
numpy==1.25.2
Pillow==10.0.0
platformdirs==3.10.0
pycodestyle==2.11.0
pyflakes==3.1.0
pykml==0.2.0
pymavlink==2.4.40
pyproj==3.6.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyserial==3.5
pyzbar==0.1.9
requests==2.31.0
shapely==2.0.1
tomli==2.0.1
urllib3==2.0.4
yapf==0.40.1
zipp==3.16.2
